@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins&display=swap');

:root{
--primmary-color:#f77f00;
--secondary-color:#3a86ff;
--border-card-color:#aaaaaa;
}
* {
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

/* =========== Nombre de la empresa ========== */

.name {
    color: var(--primmary-color);
    font-family: 'Oswald', sans-serif;
    font-size: 3.5rem;
    text-decoration: underline var(--secondary-color);
}

/* =========== Carrusel de banners ========== */

.banner {
    width: 95%;
    margin: auto;
    border-radius: 5px;
}

/* =========== Títulos ========== */

.title {
    background-color: white;
    margin-top: 5rem;
    margin-bottom: 3rem;
    color: #fcbf49;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
}

/* =========== cards ========== */

.card-product {
    width: 70%;
    border: var(--border-card-color) 1px solid;
}

.card-header {
    background-color: var(--primmary-color);
    color: white;
    font-size: 1.2rem;
}

.precio {
    font-size: 1.1rem;
    text-align: left;
    color: var(--secondary-color);
}

.card-text {
    text-align: justify;
    color: rgb(73, 73, 73);
}

.card-footer {
    border-top: var(--border-card-color) 1px solid;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233a86ff' viewBox='0 0 8 10'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233a86ff' viewBox='0 0 8 10'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* ===========  Formas de pago ============ */
.forma-pago-titulo {
    padding-left: .3rem;
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    border-radius: 5px;
    padding: .3rem;
}

.card-pago{
    border: var(--border-card-color) 1px solid;
}

.forma-pago-logos-container {
    justify-content: center;
    display: flex;
}

.forma-pago-logo {
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forma-pago-logo img {
    max-height: 80%;
    max-width: 80%;
}

.efectivo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.efectivo-container span {
    padding: 0 1rem 0 1rem;
}

.efectivo-logo {
    font-size: 4rem;
    color: rgb(44, 141, 60);
}


/* ===========  Header ============ */
header {
    width: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.nav-item {
    font-size: 1.5rem;
    padding-right: 4rem;
    border-radius: 5%;
}

.icon-toggle {
    font-size: 1.3rem;
    color: white;
}

.navbar-brand {
    padding: 0rem 6rem 0rem 2rem;
    font-size: 2.5rem;
    color: white;
}

.custom-navbar {
    background-color: var(--primmary-color);
}

.nav-link {
    color: white;
    /* padding-left: 1rem; */
    font-size: 1.2rem;
    /* background-color: var(--secondary-color); */
    background-color: var(--primmary-color);
    border-radius: 5px;
    /* width: 7rem; */
    text-align: center;
    box-shadow: 2px 2px 2px rgba(14, 14, 14, 0.15);
}

.nav-link:hover {
    box-shadow: 2px 2px 2px rgba(14, 14, 14, 0.35);
    color: white;
}

.nav--icon {
    font-size: 1rem;
}

.especial {
    display: none;
}

.menu-button {
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--primmary-color);
    padding: .4rem;
}

.icon-menu {
    font-size: 1.5rem;
    margin: 1rem;
}

.botones-navbar-mobile{
    display: flex;
    justify-content: space-around; 
    width: 100%;
    margin: .5rem 0 .5rem 0;
}

.enlace-whatsapp{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.btn:hover{
    background-color: #198754;
}

/* =========== Main ========== */

.wrapper {
    flex: 1;
}

/* =========== Footer ========== */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    justify-content: center;
    display: flex;
    background-color: var(--primmary-color);
    margin-top: 3rem;
}

footer ul {
    margin-bottom: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

footer ul li a {
    padding: 0 2rem 0 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 992px) {

    header {
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .35);
        border-top-left-radius: 10px 10px;
        border-top-right-radius: 10px 10px
    }

    .navbar {
        /* border: 2px red solid; */
        border-top-left-radius: 10px 10px;
        border-top-right-radius: 10px 10px
    }

    .custom-navbar {
        background-color: white;
    }

    .navbar-brand {
        visibility: hidden;
        display: none;
    }

    .nav-list {
        display: none;
        visibility: hidden;
    }


    .navbar-toggler:focus {
        text-decoration: none;
        box-shadow: none;
    }

    .icon-menu-down {
        font-size: 1.3rem;
    }

    .iconoSuperior {
        display: none;
    }

    .nav-link {
        padding: .5rem;
        width: 10rem;
    }

    footer {
        margin-bottom: 60px;
    }


    .nav-table {
        display: block;
        visibility: visible;
    }

    .desktop {
        display: none;
        visibility: hidden;
    }

}


@media Screen and (min-width:1024px) {

    .nav-table,
    .Mobile{
        display: none;
        visibility: hidden;
    }
}